
*.config
*.v2
*.vsidx
*.lock
.vs/NetCoreTutorial/v17/.suo
*.user
*.dll
*.exe
*.pdb
*.user
*.cache
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
*.editorconfig
*.props
ConfigurationTest/obj/Debug/net8.0/ConfigurationTest.AssemblyInfo.cs
src/Feature/DepdendencyInjection/obj/Debug/net8.0/DepdendencyInjection.AssemblyInfo.cs
src/Feature/DepdendencyInjection/obj/Debug/net8.0/DepdendencyInjection.sourcelink.json
ConfigurationTest/obj/Debug/net8.0/ConfigurationTest.sourcelink.json
